.ownership__acquisition {
  display: flex;
  flex-flow: row nowrap;
}

.ownership__piece {
  flex: 1;
}

.ownership__label {
  font-size: var(--font-size-delta);
}

.ownership__value {
  font-size: var(--font-size-charlie);
  font-weight: bold;
}