/********************************************
 * App Variables ****************************
 ********************************************/
:root {

  /* brand colors (each 1-4, 2 is standard) */
  --brand-primary-1: #93DBFF;
  --brand-primary-2: #0086CD;
  --brand-primary-3: #025886;
  --brand-primary-4: #012d46;
  --brand-secondary-1: #9af1ad;
  --brand-secondary-2: #2DB34A;
  --brand-secondary-3: #13852b;
  --brand-secondary-4: #035214;
  --brand-white: #ffffff;
  --brand-grey-1: rgb(241, 241, 241);
  --brand-grey-2: rgb(124, 124, 124);
  --brand-grey-3: rgb(63, 63, 63);
  --brand-grey-4: rgb(36, 36, 36);
  --brand-black: rgb(14, 14, 14);
  --brand-red-1: #ec9090;
  --brand-red-2: #ff0000;
  --brand-red-3: #8b0000;
  --brand-red-4: #530000;

  /* semantics standard */
  --color-bg-base: var(--brand-grey-1);
  --color-bg-focus: var(--brand-white);
  --color-bg-primary: var(--brand-primary-1);
  --color-bg-secondary: var(--brand-secondary-1);

  --color-font-base: var(--brand-grey-4);
  --color-font-focus: var(--brand-grey-3);
  --color-font-primary: var(--brand-primary-3);
  --color-font-secondary: var(--brand-secondary-4);

  /* semantics contrast */

  --color-contrast-bg-base: var(--brand-grey-3);
  --color-contrast-bg-focus: var(--brand-grey-4);
  --color-contrast-bg-primary: var(--brand-primary-3);
  --color-contrast-bg-secondary: var(--brand-secondary-3);

  --color-contrast-font-base: var(--brand-grey-1);
  --color-contrast-font-focus: var(--brand-grey-2);
  --color-contrast-font-primary: var(--brand-primary-1);
  --color-contrast-font-secondary: var(--brand-secondary-1);

  @media (prefers-color-scheme: dark) {
    /* TODO */
  }
  
  /* layout */
  --pad: 8px;
  --pad-quart: calc(var(--pad) / 4);
  --pad-half: calc(var(--pad) / 2);
  --pad2: calc(var(--pad) * 2);
  --pad3: calc(var(--pad) * 3);
  --pad4: calc(var(--pad) * 4);
  --pad5: calc(var(--pad) * 5);

  /* fonts */
  --font-title: 'Montserrat', 'Open Sans', -apple-system, BlinkMacSystemFont, 'Helvetica Neue', sans-serif;
  --font-content: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Helvetica Neue', sans-serif;

  /* Borders */
  --border-1: solid 1px var(--color-bg-offset);
  --border-2: solid 2px var(--color-bg-offset);
  --border-4: solid 1px var(--color-bg-offset);

  --border-radius: var(--pad-half);

  /* Shadows */
  --box-shadow: 0 0 var(--pad-half) var(--color-contrast-bg-focus);
}