.molocules__item {
  margin-top: var(--pad);
}

.molocules__title {
  margin-top: var(--pad3);
  color: var(--color-contrast-font-base);
  background: var(--color-contrast-bg-primary);
  padding: var(--pad);
  margin: 0 -8px;
}

.molocules__subtitle {
  color: var(--color-contrast-font-focus);
}

.molocules__todo {
  color: var(--color-contrast-font-base);
  background: var(--color-contrast-bg-secondary);
}

.molocules--space-item {
  margin-top: var(--pad);
}