.member-member {

  .member-member__title {
    font-size: var(--font-size-beta);
  }

  .member-member__card {
    min-height: 100px;
    background-position: right center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: var(--pad);
  }

  .member-member__image-pack {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
  }

  .member-member__image-pack-image {
    height: 75px;
    width: 150px;
  }

  .member-member__image-pack-name {
    font-size: var(--font-size-delta);
  }

  .member-member--special-1 {
  }

  .member-member--special-2 {
  }
}
