.member-member {

  .member-member__title {
    font-size: var(--font-size-beta);
  }

  .member-member__card {
    min-height: 100px;
    margin-top: var(--pad);

    &:hover {
      background: unset;
    }
  }

  .member-member__image-pack {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
  }

  .member-member__image-pack-image {
    height: 75px;
    width: 150px;
  }

  .member-member__image-pack-name {
    font-size: var(--font-size-delta);
  }
}
