
.item-mini {
  position: relative;

  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "image prime-attrs"
    "image ownership";
  grid-gap: var(--pad-half);

  @media(min-width: 800px) {
    grid-template:
      "image prime-attrs attrs"
      "image ownership   attrs";
    grid-template-columns: auto 1fr 1fr;
  }
  
  .item-mini__primary-attrs {
    grid-area: prime-attrs;
    
    font-weight: bold;
        
    .item-mini__name {
      font-size: 1.1rem;
      text-overflow: ellipsis;
      max-width: 40vw;
      white-space: nowrap;
      overflow: hidden;
      
      @media(min-width: 800px) {
        font-size: 1.5rem;
        max-width: 325px;
      }
    }

    .item-mini__year {
      color: var(--color-font-focus);
      font-size: .8rem;
    }

    .item-mini__desc {
      display: none;
    }
  }

  .item-mini__attrs {
    grid-area: attrs;

    display: none;

    @media(min-width: 800px) {
      display: unset;
    }
  }

  .item-mini__label {
    font-size:  .75rem;
    color:  var(--color-font-primary-focus);
  }

  .item-mini__publisher {
    position: relative;
    height: 1.5rem;
    font-size: 1rem;
    font-weight: bold;
  }

  .item-mini__inner {
    position: absolute;
    display: inline-block;
    width: 100%;
    font-weight: bold;
  }

  .item-mini__image {
    grid-area: image;
  }

  .item-mini__image-wrapper {
    max-width: 175px;
    width: 25vw;
    height: 75px;

    @media(min-width: 800px) {
      height: 150px;
    }
  }

  .item-mini__ownership {
    grid-area: ownership;
  }

  .item-mini__favorite {
    position: absolute;
    right: var(--pad);
    top: var(--pad);
    font-size: .65rem;
  }

  .item-mini__ownership-icon {
    display: inline-block;
    width: 16px;
    text-align: center;
    font-weight: bold;

    &--own {
      color: var(--color-font-primary);
    }

    &--play {
      color: var(--color-font-secondary);
    }
  }
}